# Modulus Access Transformers
# Converted from modulus.accesswidener

# GuiGraphics$ScissorStack.push method
public net.minecraft.client.gui.GuiGraphics$ScissorStack m_280651_(Lnet/minecraft/client/gui/navigation/ScreenRectangle;)Lnet/minecraft/client/gui/navigation/ScreenRectangle; # push

# Make inner classes public for mixins
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.gui.GuiGraphics$ScissorStack
